html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #37474F;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: #000000;
    text-decoration: none;
}


/*.........................header style.......................*/

.page-header {
    width: 100%;
    position: absolute;
    padding: 28px 25px 25px 25px;
    box-sizing: border-box;
}

article .article-header {
    background: url(../IMG/header.jpeg) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-top: 90px;
    padding-bottom: 25px;
    text-align: center;
    color: #37474F;
}

.article-header h1 {
    margin: 0;
    font-size: 3rem;
}

.article-header-txt {
    padding: 10px 25px 50px 25px;
}

.author-div img {
    max-width: 90px;
    border-radius: 50%;
}

.author-name {
    margin-bottom: 5px;
}


/*............................................................*/


/*................................logo style..........................*/

.logo span {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    font-style: italic;
    font-size: 300;
}


/*............................................................*/


/*..............................nav style.....................*/

.page-nav .navigation-menu {
    display: none;
}

.navigation-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-menu li a {
    text-decoration: none;
    color: #000000;
}


/*............................................................*/


/*........................section style.......................*/

figure figcaption {
    text-align: center;
    padding: 5px;
}

section h3,
p {
    padding: 0 10px;
}

.line-div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #37474F;
    margin-top: 50px;
    margin-bottom: 65px;
}

section .section-author-img {
    margin: 0;
    padding: 0;
}

.section-author-img img {
    width: 100%;
    height: auto;
}


/*............................................................*/


/*......................hamburger button......................*/

.hamburger-button {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*....................................................................*/


/*.............................footer style...........................*/

footer {
    text-align: center;
    background-color: #c9bcb3;
    padding: 20px;
    border-top: 1px solid #9b817b;
}

footer nav ul {
    padding: 5px 25px 25px 25px;
    margin: 0;
    list-style-type: none;
}


footer nav ul li {
    padding: 10px;
}
footer nav ul li:hover {
    background-color: #c1aea6;
}

footer .logo {
    margin-bottom: 5px;
}


/*....................................................................*/